<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>congreso-roemmers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C77CE021C8DC50D00528FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C77CE1B1C8DC50D00528FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C77CE261C8DC50D00528FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
